@model MARC_App.Entities.Instrument

<form action="add_instrument">
    <input type="text" asp-for="@Model.InstrumentName" />
    <input type="text" asp-for="@Model.InstrumentDescription" />
    <input type="text" asp-for="@Model.Category" />
    <button type="submit" ></button>


</form>
